body {
	background-color: #fff;
	margin: 0;
}

.header {
	background-color: #016789;
	color: #fff;
	border-bottom: solid 1px #000000;
	margin: 0;
}

.header h1, h2 {
	text-align: center;
	margin-top: 5px;
}

/* 
.main {
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
} */

.container {
	display: flex;
}

.left {
}

.right {
}

.footer {
	display: flex;
	border-top: solid 1px #000000;
}
